:root {
    --primary: #2563eb;
    --bg: #f8fafc;
    --text: #1e293b;
    --text-light: #64748b;
    --danger: #ef4444;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    min-height: 100vh;
}

button, summary {
  cursor: pointer;
}

/* dialog */
dialog {
    margin: auto;
    border: none;
    border-radius: 16px;
    padding: 2rem;
    width: 400px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
}

dialog::backdrop {
    background: rgba(15, 23, 42, 0.5);
    backdrop-filter: blur(4px);
}

#newTo-DoForm input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid silver;
    border-radius: 8px;
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--danger);
    cursor: pointer;
}

/* nav */
nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 240px;
    background-color: white;
    padding: 16px;
}

#todayNav, #upcomingNav, nav details {
  border: none;
  background-color: inherit;
  padding: 8px;
  text-align: left;
  font-size: 1.2rem;
  border-radius: 8px ;
}

#todayNav:hover, #upcomingNav:hover, nav details:hover {
  background-color: var(--bg);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#todayNav:hover, #upcomingNav:hover, nav details summary:hover, nav details[open] summary {
  color: var(--primary);
}

nav details summary {
  display: flex;
  align-items: bottom;
}

#projectsList {
  padding-block: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#projectsList li {
  list-style: disc inside;
}

#projectsList li, #projectsList li button {
  background-color: inherit;
  border: none;
  border-radius: 8px;
  text-align: left;
}

#projectsList li:hover {
  color: var(--primary);
}

#projectsList li button {
  color: inherit;
}

#projectsList li *, #newProjectForm *  {
  font-size: 1rem;
}

#newProjectForm {
  display: flex;
  gap: 8px;
}

#newProjectForm input {
  flex: 1;
  min-width: 0;
}

#newProjectForm button {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 2px 4px;
  border-radius: 8px;
}

#newProjectForm button:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* main */
main {
    flex: 1;
    padding: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

main h1 {
    font-size: 1.875rem;
    font-weight: bold;
}

/* main tasks summary */
main ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main ul li {
    background: white;
    border-radius: 8px;
    border: 1px solid silver;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

main ul li summary {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.todo-date {
    margin-left: auto;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--text-light);
    background: #f1f5f9;
    padding: 0.25rem 0.6rem;
    border-radius: 4px;
}

input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: var(--text-light);
}

/* main task body */
details > div {
    padding: 0 16px 16px 45px;
    border-top: 1px solid #f8fafc;
}

details > div > * {
  margin-bottom: 8px;
}

.description-edit {
  display: flex;
  gap: 8px;
}

.edit-desc {
  flex: 1;
}

.priority-fieldset {
  border-radius: 4px;
  padding: 4px;
}

/* buttons */
#mainButtons {
    margin-top: 1.5rem;
}

#mainButtons button, #confirmBtn {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 4px 8px;
  border-radius: 8px;
}

#mainButtons button:hover, #confirmBtn:hover { 
  background-color: var(--primary);
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.delete-task, #headerButtons button {
    background: transparent;
    color: var(--danger);
    border: 1px solid var(--danger);
    padding: 4px 8px;
    border-radius: 8px;
}

.delete-task:hover, #headerButtons button:hover {
    background: var(--danger);
    color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.edit-desc-btn {
  background-color: transparent;
  color: var(--text-light);
  border: 1px solid var(--text-light);
  padding: 2px 4px;
  border-radius: 8px;
}

.edit-desc-btn:hover {
  border-color: var(--text);
  color: var(--text);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.overdue .todo-date {
  background: var(--danger);
  color: white;
}
